scale/data/nasa_cmaps/pre_split_data/
flwr-nasa/

# Large data files
*.pkl
*.csv
*.zip
*.log
*.txt

# Specific large directories
fl_testbed/version2/data/transformed/
fl_testbed/version2/data/initial/
scale/data/

# Logs
logs/
LSTM_*.txt
LSTM_*.log
MLP_*.txt
MLP_*.log
